#
# .clang-format
# ~~~~~~~~~~~~~
#
# Copyright (c) 2022 Zhengyi Fu (tsingyat at outlook dot com)
#
# Distributed under the Boost Software License, Version 1.0. (See accompanying
# file LICENSE_1_0.txt or copy at http://www.boost.org/LICENSE_1_0.txt)
#

---
BasedOnStyle: LLVM
AlignTrailingComments: true
BreakBeforeBraces: Linux
IndentWidth: 4

ForEachMacros:
  - avl_for_each
  - avl_for_each_safe
  - avl_for_each_entry
  - avl_for_each_entry_safe
  - avl_for_each_init
  - avl_for_each_safe_init
  - avl_for_each_entry_init
  - avl_for_each_entry_safe_init

  - rb_for_each
  - rb_for_each_safe
  - rb_for_each_entry
  - rb_for_each_entry_safe
  - rb_for_each_init
  - rb_for_each_safe_init
  - rb_for_each_entry_init
  - rb_for_each_entry_safe_init

  - list_for_each
  - list_for_each_continue
  - list_for_each_prev
  - list_for_each_safe
  - list_for_each_prev_safe
  - list_for_each_entry
  - list_for_each_entry_reverse
  - list_for_each_entry_continue
  - list_for_each_entry_continue_reverse
  - list_for_each_entry_from
  - list_for_each_entry_from_reverse
  - list_for_each_entry_safe
  - list_for_each_entry_safe_continue
  - list_for_each_entry_safe_from
  - list_for_each_entry_safe_reverse
  - hlist_for_each
  - hlist_for_each_safe
  - hlist_for_each_entry
  - hlist_for_each_entry_continue
  - hlist_for_each_entry_from
  - hlist_for_each_entry_safe
  
  - xa_for_each

  - splay_for_each
  - splay_for_each_safe
  - splay_for_each_entry
  - splay_for_each_entry_safe
  - splay_for_each_init
  - splay_for_each_safe_init
  - splay_for_each_entry_init
  - splay_for_each_entry_safe_init

# vim:set filetype=yaml:
